{
{{- if .From}}
{{- if .Auth}}
  "/auth": {
    "ws": false
  },
{{- end}}
  "/docs": {
    "ws": false
  },
  "/healthz": {
    "ws": false
  },
  "/metrics": {
    "ws": false
  },
  "/ops": {
    "ws": false
  },
  "/v1": {
    "ws": true
  }
{{- else}}
  "/api": {
    "ws": true
  },
{{- if .Auth}}
  "/auth": {
    "ws": false
  },
{{- end}}
  "/healthz": {
    "ws": false
  },
  "/metrics": {
    "ws": false
  },
  "/ops": {
    "ws": false
  }
{{- end}}
}
