{
{{- if .Auth}}
  "/auth": {
    "ws": false
  },
{{- end}}
  "/docs": {
    "ws": false
  },
  "/healthz": {
    "ws": false
  },
  "/metrics": {
    "ws": false
  },
  "/ops": {
    "ws": false
  },
  "/v1": {
    "ws": true
  }
}
